<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>🈲 Forbidden</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/css/uikit.gradient.min.css"/>
    <link rel="apple-touch-icon" th:href="@{/apple-touch-icon.png}"/>
</head>
<body>
<div class="uk-grid">
    <div class="uk-width-10-10">
        <nav class="uk-navbar">
            <a th:href="@{/outcomes}" class="uk-navbar-brand">家計簿</a>
        </nav>
        <ul class="uk-tab" data-uk-tab="">
            <li><a th:href="@{/outcomes}">支出</a></li>
            <li><a th:href="@{/incomes}">収入</a></li>
            <li><a th:href="@{/report}">今月のレポート</a></li>
        </ul>
        <p>🈲 : アクセスが許可されていません。</p>
    </div>
</div>
</body>
</html>