<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Moneygr</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/css/uikit.gradient.min.css"/>
    <link rel="apple-touch-icon" th:href="@{/apple-touch-icon.png}"/>
</head>
<body>
<div class="uk-grid">
    <div class="uk-width-10-10">
        <nav class="uk-navbar">
            <a th:href="@{/outcomes}" class="uk-navbar-brand">家計簿</a>
        </nav>
        <ul class="uk-tab" data-uk-tab="">
            <li><a th:href="@{/outcomes}">支出</a></li>
            <li><a th:href="@{/incomes}">収入</a></li>
            <li><a th:href="@{/report}">今月のレポート</a></li>
            <li><a th:href="@{${@environment.getProperty('uaa-url', 'http://localhost:9999/uaa')}}"><i
                    class="uk-icon-user"></i> <span th:text="${user.fullName}"></span></a></li>
        </ul>
        <h3>支出登録</h3>

        <div th:object="${outcome}">
            <div class="uk-alert uk-alert-danger" th:if="${#fields.hasErrors()}">
                <ul>
                    <li th:each="error : ${#fields.detailedErrors()}">
                        <span th:text="${error.getMessage()}">Error message</span>
                    </li>
                </ul>
            </div>
        </div>
        <form id="outcomeForm" th:action="@{/outcomes}" method="post" th:object="${outcome}"
              class="uk-panel uk-panel-box uk-form">
            <input class="uk-form" name="outcomeDate" type="date" placeholder="支出日" th:value="${outcomeDate}"/><br/>
            <input class="uk-form" name="outcomeName" type="text" placeholder="支出名" onblur="predict(this)"/><br/>
            <input class="uk-form" name="amount" type="number" pattern="\d*" placeholder="単価"
                   onblur="setCalcState(this)"/><br/>
            <input class="uk-form" name="quantity" type="number" pattern="\d*" placeholder="数量" value="1"/><br/>
            <div class="uk-button-group">
                <button class="uk-button uk-button-small" onclick="return triggerReset();">reset</button>
                <button class="uk-button uk-button-small" onclick="return triggerCalc(8);">+8%</button>
                <button class="uk-button uk-button-small" onclick="return triggerCalc(-8);">-8%</button>
                <button class="uk-button uk-button-small" onclick="return triggerCalc(5);">+5%</button>
                <button class="uk-button uk-button-small" onclick="return triggerCalc(-5);">-5%</button>
                <button class="uk-button uk-button-small" onclick="return triggerCalc(10);">+10%</button>
                <button class="uk-button uk-button-small" onclick="return triggerCalc(-10);">-10%</button>
            </div>
            <br/>
            <select class="uk-form-select" name="outcomeCategory.categoryId">
                <option value="">カテゴリ</option>
                <!--/*/ <th:block th:each="categoryGroup : ${categories}" th:label="${categoryGroup.key}"> /*/-->
                <option th:each="value : ${categoryGroup.value}"
                        th:text="${categoryGroup.key + '('+ value.value + ')'}"
                        th:value="${value.key}"></option>
                <!--/*/ </th:block> /*/-->
            </select><br/>
            <select class="uk-form-select" name="outcomeBy">
                <option value="">支出者</option>
                <option th:each="member : ${members}"
                        th:text="${member.value.fullName}"
                        th:value="${member.key}"
                        th:selected="${member.key == user.userName}"></option>
            </select><br/>
            <label><input th:field="*{creditCard}" class="uk-form" type="checkbox"/> <i
                    class="uk-icon-credit-card uk-icon-medium"></i></label>
            <input type="hidden" name="outcomeId"/>
            <button class="uk-button uk-button-primary">登録</button>
        </form>
        <h3>簡易支出検索</h3>
        <form class=" uk-form" method="get" th:action="@{/outcomes}">
            <input name="keyword"/>
            <button class="uk-button">検索</button>
        </form>
        <h3>支出一覧 <span th:if="${parentCategory != null}" th:text="${'('+ parentCategory + ')'}"></span></h3>
        <form method="get" class=" uk-form" th:if="${outcomeDate == null}">
            <input name="fromDate" type="date" th:value="${fromDate}"/> ~
            <input name="toDate" type="date" th:value="${toDate}"/>
            <input name="parentCategoryId" type="hidden" th:if="${param.parentCategoryId != null}"
                   th:value="${param.parentCategoryId[0]}"/>
            <button class="uk-button">Go</button>
        </form>
        <ul class="uk-pagination" th:if="${outcomeDate != null}">
            <li class="uk-pagination-previous"><a th:href="@{'/outcomes/' + ${outcomeDate.minusDays(1)}}">
                <i class="uk-icon-angle-double-left"></i> <span th:text="${outcomeDate.minusDays(1)}"></span></a></li>
            <li>
                <a th:href="@{'/report'(fromDate=${outcomeDate.with(T(java.time.temporal.TemporalAdjusters).firstDayOfMonth())})}"
                   th:text="${outcomeDate.year + '-' + outcomeDate.monthValue}">...</a></li>
            <li class="uk-pagination-next"><a th:href="@{'/outcomes/' + ${outcomeDate.plusDays(1)}}">
                <span th:text="${outcomeDate.plusDays(1)}"></span> <i class="uk-icon-angle-double-right"></i></a></li>
        </ul>
        <table class="uk-table uk-table-condensed">
            <thead>
            <tr>
                <th rowspan="2" width="15%">支出日<br/>&nbsp;</th>
                <th rowspan="2" width="27%">カテゴリ<br/>&nbsp;</th>
                <th width="28%">支出名</th>
                <th width="30%">金額</th>
            </tr>
            <tr>
                <th>支出者</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <!--/*/ <th:block th:each="outcome : ${outcomes}"> /*/-->
            <tr>
                <td rowspan="2"><a
                        th:href="@{'/outcomes'(fromDate=${outcome.outcomeDate},toDate=${outcome.outcomeDate})}">
                    <span th:text="${outcome.outcomeDate.year}"></span><br/>
                    <span th:text="${outcome.outcomeDate.monthValue}"></span>/<span
                        th:text="${outcome.outcomeDate.dayOfMonth}"></span></a></td>
                <td rowspan="2"><a
                        th:href="@{'/outcomes'(fromDate=${fromDate},toDate=${toDate},parentCategoryId=${outcome.outcomeCategory.parentOutcomeCategory.parentCategoryId})}"
                        th:text="${outcome.outcomeCategory.parentOutcomeCategory.parentCategoryName}"></a><br/>
                    <span th:text="${outcome.outcomeCategory.categoryName}"></span>
                </td>
                <td><span th:text="${outcome.outcomeName}"></span></td>
                <td><span th:text="${#numbers.formatInteger(outcome.amount, 3, 'COMMA')}"></span>円 x <span
                        th:text="${outcome.quantity}"></span>
                    <i class="uk-icon-credit-card" th:if="${outcome.creditCard}"></i></td>
            </tr>
            <tr>
                <td><span th:text="${members[outcome.outcomeBy].fullName}"></span></td>
                <td>
                    <div class="uk-button-group"
                         th:attr="data-id=${outcome.outcomeId}">
                        <button class="uk-button uk-button-small" onclick="loadFromServer(this)"><i
                                class="uk-icon-edit"></i></button>
                        <button class="uk-button uk-button-small uk-button-danger"
                                onclick="return deleteOutcome(this);"><i class="uk-icon-trash"></i></button>
                    </div>
                </td>
            </tr>
            <!--/*/ </th:block> /*/-->
            </tbody>
            <tfoot>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <th>計</th>
                <td><span th:text="${#numbers.formatInteger(total, 3, 'COMMA')}"></span>円</td>
            </tr>
            </tfoot>
        </table>
    </div>
    <form th:action="@{/logout}" method="post" class="uk-form uk-margin-remove uk-display-inline-block">
        <button class="uk-button"><i class="uk-icon-sign-out"></i> Logout</button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/3.8.3/superagent.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.0/lodash.min.js"></script>
    <script>
        var request = window.superagent;

        function predict(input) {
            request.post('/v1/predict')
                .type('form')
                .set('X-CSRF-TOKEN', document.forms[0]._csrf.value)
                .send({outcomeName: input.value})
                .end(function (err, res) {
                    var predicted = _(res.body).sortBy(function (x) {
                        return -x.probability;
                    }).head();
                    var categoryId = document.querySelector("[name='outcomeCategory.categoryId']");
                    if (predicted) {
                        categoryId.value = predicted.categoryId;
                    } else {
                        categoryId.value = '';
                    }
                });
        }

        function deleteOutcome(button) {
            if (confirm("本当に削除しますか?")) {
                request.del('/v1/outcomes/' + button.parentNode.dataset.id)
                    .set('X-CSRF-TOKEN', document.forms[0]._csrf.value)
                    .end(function (err, res) {
                        if (res.status == 204) {
                            location.reload();
                        }
                    });
            }
            return false;
        }

        function loadFromServer(button) {
            request.get('/v1/outcomes/' + button.parentNode.dataset.id)
                .end(function (err, res) {
                    if (res.status == 200) {
                        var f = document.querySelector("#outcomeForm");
                        var outcome = JSON.parse(res.text);
                        request.get('/v1/outcomeCategories/' + outcome.outcomeCategory.categoryId)
                            .end(function (err, res) {
                                var category = JSON.parse(res.text);
                                f.querySelector("select").value = category.categoryId;
                            });
                        for (var k in outcome) {
                            if (f[k]) {
                                if (k != 'creditCard') {
                                    f[k].value = outcome[k];
                                } else {
                                    f._creditCard = outcome.creditCard ? 'on' : 'off';
                                }
                            }
                        }
                        var b = _.last(f.querySelectorAll('button'));
                        b.innerText = "更新";
                        b.className = b.className + " uk-button-success";
                        window.scroll(0, 0);
                    }
                });
            return false;
        }

        document.addEventListener('DOMContentLoaded', function () {
            var event = new Event('updateAmount');
            var amount = document.querySelector("[name='amount']");
            window.CalcState = function (val) {
                this.amount = val;
                this.updated = val;
                this.freezed = true;
            };
            var calcState = new CalcState(0);
            window.setCalcState = function (input) {
                calcState = new CalcState(Number(input.value));
                calcState.freezed = false;
            };
            window.triggerCalc = function (percent) {
                if (!calcState.freezed) {
                    calcState.updated = Math.floor((percent + 100) * Number(calcState.updated) / 100);
                    amount.dispatchEvent(event);
                }
                return false;
            };
            window.triggerReset = function () {
                if (!calcState.freezed) {
                    calcState.updated = calcState.amount;
                    amount.dispatchEvent(event);
                }
                return false;
            };
            amount.addEventListener('updateAmount', function () {
                amount.value = calcState.updated;
            });
        }, false);
    </script>
</div>
</body>
</html>